In [2]:
#Add root checkout to path
import sys
sys.path.append("..")
import pandas as pd
from paws.s3 import (boto_s3_resource, download)
resource = boto_s3_resource()
# csv_file = download(resource=resource, 
#                     bucket="gdelt-open-data", 
#                     key="events/1979.csv",
#                     filename="1979.csv")

2017-10-04 09:54:16,937 - Paws - INFO - Attempting download: gdelt-open-data, events/1979.csv, 1979.csv

DONE

In [4]:
#Load the file, truncate it and save.
# df = pd.read_csv(csv_file, names=range(5))
# df = df.head(100)
# df.to_csv(csv_file)
df = pd.read_csv("1979.csv", names=range(5))
df.head()
df.describe()

,0,1,2,3,4
count,101,63,63,59,56
unique,100,34,46,36,36
top,0,District of Columbia,United States\tUS\tUSDC\t38.8951\t-77.0364\t5...,District of Columbia,United States\tUS\tUSDC\t38.8951\t-77.0364\t5...
freq,2,6,6,7,7